@page
@model Blog.Pages.ArticleAddSuccessModel
@{
    ViewData["Title"] = "Article added Successfully";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>
        <a href="/Index">Click here to continue</a>
    </p> 
}
